// base/_base.scss partial
@import '_globals';
@import '_header';
@import '_hero';
@import '_callout';
@import '_layout';
@import '_featured';



body {
  font-family: $font-secondary;
  font-size: $font-size;
  color: #444;
  background-color: #ffffff;
  margin:0; 
  padding:0;
}

.grid {
    display: grid;
    grid-auto-rows: minmax(25px, auto);
    grid-template-columns: repeat(12, [col] 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .gridItem{
       
  }