.callouts{
    grid-column: col 1  / span 12;
    background-color:  $blue;
    display:grid;
    grid-template-columns: repeat(12, [col] 1fr);
}



@include breakpoint(phone) {

    .callout{
        display:grid;
        grid-column: col 1  / span 12;
        grid-template-columns: repeat(12, [col] 1fr);
        margin-bottom:5px;
        padding:4px;
        background-color:white;
        box-shadow: 4px 2px 4px 0px rgba(0, 0, 0, 0.21);
    }

    .callouts{
      padding-bottom:20px;
       padding-left:10%;
       padding-right:10%;
    }

    .callout img{
        height:60px;
        padding:5px;
        padding-left:10px;
    }

    .calloutImage{
        display:grid;
        grid-column: col 1  / span 4;
 
    }
         
    .calloutText{
        letter-spacing:.6px;
        color:#777777;
        font-family: $font-secondary;
        font-weight:bold;
        text-transform: uppercase;
        display:grid;
        align-items: center;
        font-size:150%;
        grid-column: col 5  / span 9;
   
        padding-left:10px;
      }

    .toysCall{
        grid-column: col 1  / span 12;
    }

    .books{
        grid-column: col 1  / span 12;
    }
    
    .coding{
        grid-column: col 1  / span 12;  
    }

    .activities{
        grid-column: col 1  / span 12; 
    }
     
}
/*
@media (min-width: 601px) {
    .toysCall{
        text-align:center;
        grid-column: col 1 / span 3;
    
    }
    .books{
        text-align:center;
        grid-column: col 4/ span 3;
    
    }

    .coding{
        text-align:center;
        grid-column: col 7 / span 3;

    }

    .activities{
        text-align:center;
        grid-column: col 10 / span 3;
    }

    .callouts{
        background-color: white; 
        padding-bottom:10px;
        padding-top:10px;
        border-top: 2px solid  #92BFDD;
        border-bottom: 2px solid  #92BFDD;
    }

   
    .toysCall, .books, .coding {
        border-right: 2px solid  #92BFDD;
    }
    .calloutText{
        padding-top:5px;
        font-size:16px;
    }

    .callout img{
        height:60px;
        padding:5px;
    }

}

@media (min-width: 1001px) {

    .callout img{
        height:60px;
        padding:5px;
    }

    .callouts{
        background-color: white; 
        padding-bottom:20px;
        padding-top:20px;
        border-top: 2px solid  #92BFDD;
        border-bottom: 2px solid  #92BFDD;
    }

  

    .toysCall, .books, .coding {
        border-right: 2px solid  #92BFDD;
    }

    .toysCall{
        text-align:center;
        grid-column: col 3 / span 2;
       
    }
    .books{
        text-align:center;
        grid-column: col 5/ span 2;
       
    }
    
    .coding{
        text-align:center;
        grid-column: col 7 / span 2;
   
    }

    .activities{
        text-align:center;
         grid-column: col 9 / span 2;
        
    }

    .calloutText{
        font-size:16px;
    }

  
}*/
