.video iframe{
    width:100%;
    
}

.video {
    width:100%;
}

.contentHeader{
  padding-top:10px;
  margin-bottom:20px;
  grid-column: col 1  / span 12; 
  font-family: $font-main;
  font-size:200%;
  background-color: white;
  border-bottom:1px solid $darkBlue;
}

@include breakpoint(phone) {
    .featuredContent{
      display:none;
    }

    .featuredArticle{
        grid-column: col 1  / span 12;
        display:flex;
        align-items: center;
        padding-bottom:10px;
    }

    .mainArticle{
      grid-column: col 1  / span 12;
      display:flex;
      align-items: center;
      margin-bottom:10px;
      border:1px solid $darkBlue;
      background-color:$blue;

    }

    .featuredTitle{
      font-family: $font-secondary;
      font-weight:bold;
      padding-left:10px;
      font-size:150%;
    }

    .featuredText{
      display:none;
    }  

    .featuredArticle img{
        width: 100px;
        height: 50px;
        padding:5px;
      border:1px solid #92BFDD;
      }

      .mainArticle img{
        width: 100px;
        height: 50px;
        margin:5px;
        border:1px solid #92BFDD;
      
      }

    
}
/*
@media (min-width: 800px) {

  .featuredArticle{
    grid-column: col 1  / span 12;
    display:flex;
    padding-bottom:10px;
}

.featuredArticle img{
    max-width: 100px;
    max-height: 100px;
    padding:5px;
  border:1px solid #92BFDD;
  }
}*/