$font-main:    schoolbell, cursive;
$font-secondary: open sans;
$font-size: 2vmin;
$blue:#DDEBF5;
$darkBlue:#92BFDD;



%blueBorder {
  border: 1px solid #ccc;
  padding: 10px;
  color: #darkBlue;

  /*.success {
  //@extend %message-shared;
  //border-color: green;
	}*/
}



@mixin breakpoint($point) {
    @if $point == full-screen {
        @media (min-width: 1900px) {
            @content;
        }
    }
    // Full design
    @else if $point == desktop {
        @media (min-width: 1300px) {
            @content;
        }
    }
    // Large enough for full page, but still condensed-
    @else if $point == desktop {
        @media (min-width: 1080px) {
            @content;
        }
    }
    // iPad landscape. iPad portrait would be ~48em
   @else if $point == tablet {
        @media (min-width: 50em) {
            @content;
        }
    }
    // Large phones / small tablets. iPhone X falls under 35em in portrait mode
    @else if $point == phone {
        @media (min-width: 35em) {
            @content;
        }
    }
}

