@import '_globals';

.header{
	grid-column: col 1  / span 12;
    display:grid;
    background-color:red;
    grid-template-columns: repeat(12, [col] 1fr);
}


.search{
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.logoText{
  font-family: $font-main;
  font-size:200%;
  padding-left:5px;
  padding-top:6px
}
.header{
	grid-column: col 1  / span 12;
    display:grid;
    background-color:red;
    grid-template-columns: repeat(12, [col] 1fr);
}

  .logo{
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .nav{
  	font-family: $font-secondary;
    width: 100%;
    align-items: flex-end;
    display: flex;
    text-transform: uppercase;
    font-size:150%;
    letter-spacing:.5px;
    padding:5px;
  }


  #page-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    
  }
  #page-nav ul li {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
  }
  #page-nav ul li a {
    color: yellow;
    text-decoration: none;
  }

.nav a{
  color: blue;
  text-decoration:none;
}

#page-nav label, #hamburger {
    display: none;
  }

@include breakpoint(phone) {
    .nav {
        grid-column: col 1  / span 4;
        grid-row-start: 1;
      }
      .logo {
        grid-column: col  5/ span 4;
        grid-row-start: 1;
      }
      .search {
        grid-column: col 9  / span 4;
        padding-right:5px
      }

      #page-nav label {
        display: inline-block;
        color: #000;
        /**background: #a02620;*/
        font-style: normal;
        font-size: 20px;
        padding: 10px;
      }
    
      /* Break down menu items into vertical */
      #page-nav ul li {
        display: block;
        z-index:2;
      }
      #page-nav ul li {
        opacity:0.5;
          width:50vw;
        border-top: 1px solid #fff;
        background-color: dodgerblue;
      }
    
      /* Toggle show/hide menu on checkbox click */
      #page-nav ul {
        display: block;

      }
      #page-nav input:checked ~ ul {
        display: block;
         position:absolute;
    	z-index:1;
      }
      
}

/*
  @media (min-width: 1000px) {
   
    .logo {
        grid-column: col  / span 2;
      }
      .nav {
        grid-column: col 3 / span 9;
      }
      .search {
        grid-column: col 12 / span 1;
      }
  }*/
