

.hero{
    padding-top:30px;
    padding-bottom:30px;
    
    grid-column: col 1 / span 12;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1{
    margin:0;
   
}

.hero h5{
   margin:0;
 
}

.heroText{
  display:flex;
  flex-direction:column;
  text-align: center;
  
}

@include breakpoint(phone) {
    .hero{
        background-color: #336633;
    }
    .heroImg{
        display:none;
    }
    .hero h1{
        font-family: $font-main;
        margin:0;
        font-size:300%;
        padding-bottom:10px;
    }

    .hero h5{
        font-family: $font-secondary;
      font-weight:100;
        min-width: 200px;
        max-width: 550px;
        flex-basis: auto; /* default value */
        flex-grow: 1;
        font-size:200%;
    }

   
        .big{
            display:none;
       
    }
}

/*
@media (min-width:801px) {
    .heroImg{
        display:block;
    }
    .hero h1{
        margin:0;
        font-size:24px;
    }

    .hero h5{
    margin:0;
    font-size:16px;
    }

    .small{
        display:none;
   
}
}*/








