
  .leftSide{
 
    display:grid;
    grid-template-columns: repeat(12, [col] 1fr);
  }

  .featuredVideos{
    display:flex;
    background-color:blue;
  }

.footer {
    grid-column: col 1  / span 12;
    background-color: blue;
    display:grid;
    grid-template-columns: repeat(12, [col] 1fr);
}

.links {
    padding-left:20px;
    padding-right:20px;
    grid-column: col 1  / span 12;
    background-color:white;
}

.links ul{
    padding:10px;
   
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.links li{
 
}


@include breakpoint(phone) {

    .leftSide{

        grid-column: col 1  / span 12;
       padding-left:20px;
       padding-right:20px;
    }

    .rightSide{
        padding-left:20px;
       padding-right:20px;
        grid-column: col 1  / span 12;
    }
    .featuredArticle{
        grid-column: col 1  / span 12;
    }

    .featuredVideos{
        grid-column: col 1  / span 12;  
        flex-direction: row;
    }
}


/*

@media (min-width: 801px) {
  
    .leftSide{
        grid-column: col 1  / span 12;
    }

    .rightSide{
        grid-column: col 1  / span 12;
    }
    .featuredArticle{
        grid-column: col 1  / span 8;
    }

    .featuredVideos{
        grid-column: col 9 / span 4;
        flex-direction: column;
    }
}

@media (min-width: 1000px) {
    .leftSide{
        grid-column: col 1  / span 8;
    }

    .rightSide{
        grid-column: col 9  / span 4;
    }
}*/